html {
  min-height: 100%;
}

body {
  background: linear-gradient(130deg, skyblue 10%, blue 75%);
  font-family: 'Verdana';
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.music-card {
  background: rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10%;
  display: inline-block;
  justify-content: center;
  padding: 20px;

}
.album-art {
  border-radius: 10%;
  filter: drop-shadow(0 0 20px white);
  height: 100px;
  width: 100px;
}
.music-card > p {
  color: white;
  font-weight: bold;
}
.music-title {
}
.audio-music {
}
.hr-bar {
  border-radius: 2px;
  border: 2px solid rgba(255,255,255,0.1);
}